[Unit]
Description=PAWS for .NET Core with systemd
DefaultDependencies=no
Wants=network.target
After=network.target

[Service]
ExecStart=/var/paws/ProxyApp ProxyConfig.json
WorkingDirectory=/var/paws
Restart=always
RestartSec=10
SyslogIdentifier=paws
User=pawsuser
Group=pawsuser
PrivateTmp=true

[Install]
WantedBy = multi-user.target